In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [2]:
base = pd.read_excel('TablaDeDatos.xlsx', sheet_name = 'ESTUDIANTES')

In [3]:
base

,AÑOINGRESO,PERIODO_INGRESO,PERIODO_EGRESO,DOCUMENTO,CÓDIGO,NOMBRE,PROGRAMA,NUM_MATRICULAS,CREDITOS_PENSUM,CREDITOS. APROB.,...,RELIGION,MunicipioProcedencia,DeptoProcedencia,PaisProcedencia,ESTRATO,Trabaja,TipoTrabajo,RangoIngresos,DuraciónTrabajo,ESTADO
0,1997,1997-01-01,2013-01-01 00:00:00,71977148,971008101,CORDOBA DE LA ROSA JAVIER ANDRES,LIC. TEOLOGÍA,10,173,181.0,...,ADVENTISTA,GRANADA,META,COLOMBIA,ESTRATO 2,NO,[NINGUNO],[NINGUNO],[NINGUNO],GRADUADO
1,1998,1998-02-01,2006-01-01 00:00:00,43621143,982056104,CATAÑO OCAMPO VIVIANA MARÍA,LIC. BÁS. NATURALES,1,164,185.0,...,ADVENTISTA,CALI,VALLE DEL CAUCA,COLOMBIA,ESTRATO 1,NO,[NINGUNO],[NINGUNO],[NINGUNO],GRADUADO
2,1999,1999-01-01,[NINGUNO],28177911,991020214,CUBIDES GERENA BIVIANA,CONTADURÍA PÚBLICA,2,219,75.0,...,ADVENTISTA,CIMITARRA,SANTANDER,COLOMBIA,ESTRATO 1,SÍ,TIEMPO COMPLETO,ENTRE 0 - 1 MÍNIMO,ENTRE 6 MESES - 1 AÑO,INACTIVO
3,2000,2000-01-01,2006-01-01 00:00:00,18009899,201010211,JAMES CUADRADO JOELL ELIECER,TEC. EMPRESARIAL,1,124,129.0,...,ADVENTISTA,ISLA SAN ANDRES,SAN ANDRES,COLOMBIA,ESTRATO 3,NO,[NINGUNO],[NINGUNO],[NINGUNO],GRADUADO
4,2001,2001-01-01,2015-01-01 00:00:00,19599564,211050106,DIAZ MORENO ADOLFO ENRIQUE,LIC. TEOLOGÍA,5,189,196.0,...,ADVENTISTA,FUNDACION,MAGDALENA,COLOMBIA,ESTRATO 2,SÍ,TIEMPO COMPLETO,ENTRE 2 - 3 MÍNIMOS,MÁS DE 1 AÑO,GRADUADO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4744,2023,2023-01-01,[NINGUNO],94269950,20231012706,HURTADO PARRA JHON JAIRO,TEOLOGÍA,1,144,27.0,...,ADVENTISTA,CALI,VALLE DEL CAUCA,COLOMBIA,ESTRATO 1,NO,[NINGUNO],[NINGUNO],[NINGUNO],ACTIVO
4745,2023,2023-01-01,[NINGUNO],1000288741,20231013507,MALDONADO ROA NICOLAS,LIC. MUSICA,1,169,19.0,...,ADVENTISTA,BOGOTÁ,BOGOTA,COLOMBIA,ESTRATO 4,NO,[NINGUNO],[NINGUNO],[NINGUNO],ACTIVO
4746,2023,2023-01-01,[NINGUNO],1127543774,20231035506,MORENO JOLLY JONATHAN CARSON,TEOLOGÍA,1,144,32.0,...,ADVENTISTA,BUGABA,CHIRIQUÍ,PANAMÁ,ESTRATO 3,NO,[NINGUNO],[NINGUNO],[NINGUNO],ACTIVO
4747,2023,2023-01-01,[NINGUNO],1097990080,20231037112,TELLEZ ARIZA KAREN JIMENA,ADMÓN. EMPRESAS,1,151,68.0,...,ADVENTISTA,MEDELLIN,ANTIOQUIA,COLOMBIA,ESTRATO 1,NO,TIEMPO COMPLETO,ENTRE 0 - 1 MÍNIMO,ENTRE 0-6 MESES,ACTIVO
4748,2023,2023-01-01,[NINGUNO],1119185400,202310373325,SIERRA VILLAR JHAROL IDINAEL,TEC. APH EXTENSION BUCARAMANGA,1,111,81.0,...,ADVENTISTA,MEDELLIN,ANTIOQUIA,COLOMBIA,ESTRATO 1,NO,[NINGUNO],[NINGUNO],[NINGUNO],ACTIVO

<h1>CAMBIO DE NOMBRE COLUMNAS</h1>

In [4]:
base.columns

Index(['AÑOINGRESO', 'PERIODO_INGRESO', 'PERIODO_EGRESO', 'DOCUMENTO',
       'CÓDIGO', 'NOMBRE', 'PROGRAMA', 'NUM_MATRICULAS', 'CREDITOS_PENSUM',
       'CREDITOS. APROB.', 'CREDITOS. REPROB.', 'MATERIASREPROBADAS',
       'MAT_CANCELADAS', 'FECHANACIMIENTO', 'GENERO', 'ESTADO_CIVIL',
       'RELIGION', 'MunicipioProcedencia', 'DeptoProcedencia',
       'PaisProcedencia', 'ESTRATO', 'Trabaja', 'TipoTrabajo', 'RangoIngresos',
       'DuraciónTrabajo', 'ESTADO'],
      dtype='object')

In [5]:
base.rename(columns ={'AÑOINGRESO' : 'AGNO_INGRESO',
                      'PERIODO_INGRESO' : 'FECHA_INGRESO',
                      'PERIODO_EGRESO' : 'FECHA_EGRESO',
                     'CÓDIGO' : 'COD_ESTUDIANTIL',
                     'CREDITOS. APROB.' : 'CREDITOS_APROBADOS',
                     'CREDITOS. REPROB.' : 'CREDITOS_REPROBADOS',
                     'MATERIASREPROBADAS' : 'MATERIAS_REPROBADAS',
                      'MAT_CANCELADAS' : 'MATERIAS_CANCELADAS',
                     'FECHANACIMIENTO' : 'FECHA_NACIMIENTO',
                     'MunicipioProcedencia' : 'MUNICIPIO_PROCEDENCIA',
                     'DeptoProcedencia' : 'DEPTO_PROCEDENCIA',
                     'PaisProcedencia' : 'PAIS_PROCEDENCIA',
                     'Trabaja' : 'TRABAJO',
                     'TipoTrabajo' : 'TIPO_TRABAJO',
                     'RangoIngresos' : 'RANGO_INGRESOS',
                     'DuraciónTrabajo' : 'DURACION_TRABAJO'},
           inplace = True)

In [6]:
base.dtypes

AGNO_INGRESO                      int64
FECHA_INGRESO            datetime64[ns]
FECHA_EGRESO                     object
DOCUMENTO                        object
COD_ESTUDIANTIL                   int64
NOMBRE                           object
PROGRAMA                         object
NUM_MATRICULAS                    int64
CREDITOS_PENSUM                   int64
CREDITOS_APROBADOS              float64
CREDITOS_REPROBADOS               int64
MATERIAS_REPROBADAS               int64
MATERIAS_CANCELADAS               int64
FECHA_NACIMIENTO                 object
GENERO                            int64
ESTADO_CIVIL                     object
RELIGION                         object
MUNICIPIO_PROCEDENCIA            object
DEPTO_PROCEDENCIA                object
PAIS_PROCEDENCIA                 object
ESTRATO                          object
TRABAJO                          object
TIPO_TRABAJO                     object
RANGO_INGRESOS                   object
DURACION_TRABAJO                 object
ESTADO                           object
dtype: object

In [7]:
base.head()

,AGNO_INGRESO,FECHA_INGRESO,FECHA_EGRESO,DOCUMENTO,COD_ESTUDIANTIL,NOMBRE,PROGRAMA,NUM_MATRICULAS,CREDITOS_PENSUM,CREDITOS_APROBADOS,...,RELIGION,MUNICIPIO_PROCEDENCIA,DEPTO_PROCEDENCIA,PAIS_PROCEDENCIA,ESTRATO,TRABAJO,TIPO_TRABAJO,RANGO_INGRESOS,DURACION_TRABAJO,ESTADO
0,1997,1997-01-01,2013-01-01 00:00:00,71977148,971008101,CORDOBA DE LA ROSA JAVIER ANDRES,LIC. TEOLOGÍA,10,173,181.0,...,ADVENTISTA,GRANADA,META,COLOMBIA,ESTRATO 2,NO,[NINGUNO],[NINGUNO],[NINGUNO],GRADUADO
1,1998,1998-02-01,2006-01-01 00:00:00,43621143,982056104,CATAÑO OCAMPO VIVIANA MARÍA,LIC. BÁS. NATURALES,1,164,185.0,...,ADVENTISTA,CALI,VALLE DEL CAUCA,COLOMBIA,ESTRATO 1,NO,[NINGUNO],[NINGUNO],[NINGUNO],GRADUADO
2,1999,1999-01-01,[NINGUNO],28177911,991020214,CUBIDES GERENA BIVIANA,CONTADURÍA PÚBLICA,2,219,75.0,...,ADVENTISTA,CIMITARRA,SANTANDER,COLOMBIA,ESTRATO 1,SÍ,TIEMPO COMPLETO,ENTRE 0 - 1 MÍNIMO,ENTRE 6 MESES - 1 AÑO,INACTIVO
3,2000,2000-01-01,2006-01-01 00:00:00,18009899,201010211,JAMES CUADRADO JOELL ELIECER,TEC. EMPRESARIAL,1,124,129.0,...,ADVENTISTA,ISLA SAN ANDRES,SAN ANDRES,COLOMBIA,ESTRATO 3,NO,[NINGUNO],[NINGUNO],[NINGUNO],GRADUADO
4,2001,2001-01-01,2015-01-01 00:00:00,19599564,211050106,DIAZ MORENO ADOLFO ENRIQUE,LIC. TEOLOGÍA,5,189,196.0,...,ADVENTISTA,FUNDACION,MAGDALENA,COLOMBIA,ESTRATO 2,SÍ,TIEMPO COMPLETO,ENTRE 2 - 3 MÍNIMOS,MÁS DE 1 AÑO,GRADUADO

<h1>CAMBIO DE DATOS</h1>

In [8]:
base.dtypes

AGNO_INGRESO                      int64
FECHA_INGRESO            datetime64[ns]
FECHA_EGRESO                     object
DOCUMENTO                        object
COD_ESTUDIANTIL                   int64
NOMBRE                           object
PROGRAMA                         object
NUM_MATRICULAS                    int64
CREDITOS_PENSUM                   int64
CREDITOS_APROBADOS              float64
CREDITOS_REPROBADOS               int64
MATERIAS_REPROBADAS               int64
MATERIAS_CANCELADAS               int64
FECHA_NACIMIENTO                 object
GENERO                            int64
ESTADO_CIVIL                     object
RELIGION                         object
MUNICIPIO_PROCEDENCIA            object
DEPTO_PROCEDENCIA                object
PAIS_PROCEDENCIA                 object
ESTRATO                          object
TRABAJO                          object
TIPO_TRABAJO                     object
RANGO_INGRESOS                   object
DURACION_TRABAJO                 object
ESTADO                           object
dtype: object

In [9]:
base = base.replace({'FECHA_EGRESO' : '[NINGUNO]'}, np.nan)

In [10]:
base['FECHA_EGRESO'] = pd.to_datetime(base['FECHA_EGRESO'])

In [11]:
base['FECHA_NACIMIENTO'] = pd.to_datetime(base['FECHA_NACIMIENTO'])

In [12]:
base['GENERO'] = base['GENERO'].astype('object')

In [13]:
base.GENERO = base.GENERO.replace({0 : 'FEMENINO', 1 : 'MASCULINO'})

In [14]:
base['GENERO']

0       MASCULINO
1        FEMENINO
2        FEMENINO
3       MASCULINO
4       MASCULINO
          ...
4744    MASCULINO
4745    MASCULINO
4746    MASCULINO
4747     FEMENINO
4748    MASCULINO
Name: GENERO, Length: 4749, dtype: object

<h1>BASE CONVERTIDA<h/1>

In [15]:
pd.set_option('display.max_columns', None)

In [16]:
base.head()

,AGNO_INGRESO,FECHA_INGRESO,FECHA_EGRESO,DOCUMENTO,COD_ESTUDIANTIL,NOMBRE,PROGRAMA,NUM_MATRICULAS,CREDITOS_PENSUM,CREDITOS_APROBADOS,CREDITOS_REPROBADOS,MATERIAS_REPROBADAS,MATERIAS_CANCELADAS,FECHA_NACIMIENTO,GENERO,ESTADO_CIVIL,RELIGION,MUNICIPIO_PROCEDENCIA,DEPTO_PROCEDENCIA,PAIS_PROCEDENCIA,ESTRATO,TRABAJO,TIPO_TRABAJO,RANGO_INGRESOS,DURACION_TRABAJO,ESTADO
0,1997,1997-01-01,2013-01-01,71977148,971008101,CORDOBA DE LA ROSA JAVIER ANDRES,LIC. TEOLOGÍA,10,173,181.0,9,3,0,1969-05-15,MASCULINO,CASADO (A),ADVENTISTA,GRANADA,META,COLOMBIA,ESTRATO 2,NO,[NINGUNO],[NINGUNO],[NINGUNO],GRADUADO
1,1998,1998-02-01,2006-01-01,43621143,982056104,CATAÑO OCAMPO VIVIANA MARÍA,LIC. BÁS. NATURALES,1,164,185.0,9,4,0,1977-01-06,FEMENINO,CASADO (A),ADVENTISTA,CALI,VALLE DEL CAUCA,COLOMBIA,ESTRATO 1,NO,[NINGUNO],[NINGUNO],[NINGUNO],GRADUADO
2,1999,1999-01-01,NaT,28177911,991020214,CUBIDES GERENA BIVIANA,CONTADURÍA PÚBLICA,2,219,75.0,29,14,0,1975-01-08,FEMENINO,SEPARADO (A),ADVENTISTA,CIMITARRA,SANTANDER,COLOMBIA,ESTRATO 1,SÍ,TIEMPO COMPLETO,ENTRE 0 - 1 MÍNIMO,ENTRE 6 MESES - 1 AÑO,INACTIVO
3,2000,2000-01-01,2006-01-01,18009899,201010211,JAMES CUADRADO JOELL ELIECER,TEC. EMPRESARIAL,1,124,129.0,31,9,0,1981-07-03,MASCULINO,SOLTERO (A),ADVENTISTA,ISLA SAN ANDRES,SAN ANDRES,COLOMBIA,ESTRATO 3,NO,[NINGUNO],[NINGUNO],[NINGUNO],GRADUADO
4,2001,2001-01-01,2015-01-01,19599564,211050106,DIAZ MORENO ADOLFO ENRIQUE,LIC. TEOLOGÍA,5,189,196.0,6,3,0,1979-10-05,MASCULINO,CASADO (A),ADVENTISTA,FUNDACION,MAGDALENA,COLOMBIA,ESTRATO 2,SÍ,TIEMPO COMPLETO,ENTRE 2 - 3 MÍNIMOS,MÁS DE 1 AÑO,GRADUADO

In [17]:
base = base.drop_duplicates(subset=['COD_ESTUDIANTIL'])

In [18]:
base

,AGNO_INGRESO,FECHA_INGRESO,FECHA_EGRESO,DOCUMENTO,COD_ESTUDIANTIL,NOMBRE,PROGRAMA,NUM_MATRICULAS,CREDITOS_PENSUM,CREDITOS_APROBADOS,CREDITOS_REPROBADOS,MATERIAS_REPROBADAS,MATERIAS_CANCELADAS,FECHA_NACIMIENTO,GENERO,ESTADO_CIVIL,RELIGION,MUNICIPIO_PROCEDENCIA,DEPTO_PROCEDENCIA,PAIS_PROCEDENCIA,ESTRATO,TRABAJO,TIPO_TRABAJO,RANGO_INGRESOS,DURACION_TRABAJO,ESTADO
0,1997,1997-01-01,2013-01-01,71977148,971008101,CORDOBA DE LA ROSA JAVIER ANDRES,LIC. TEOLOGÍA,10,173,181.0,9,3,0,1969-05-15,MASCULINO,CASADO (A),ADVENTISTA,GRANADA,META,COLOMBIA,ESTRATO 2,NO,[NINGUNO],[NINGUNO],[NINGUNO],GRADUADO
1,1998,1998-02-01,2006-01-01,43621143,982056104,CATAÑO OCAMPO VIVIANA MARÍA,LIC. BÁS. NATURALES,1,164,185.0,9,4,0,1977-01-06,FEMENINO,CASADO (A),ADVENTISTA,CALI,VALLE DEL CAUCA,COLOMBIA,ESTRATO 1,NO,[NINGUNO],[NINGUNO],[NINGUNO],GRADUADO
2,1999,1999-01-01,NaT,28177911,991020214,CUBIDES GERENA BIVIANA,CONTADURÍA PÚBLICA,2,219,75.0,29,14,0,1975-01-08,FEMENINO,SEPARADO (A),ADVENTISTA,CIMITARRA,SANTANDER,COLOMBIA,ESTRATO 1,SÍ,TIEMPO COMPLETO,ENTRE 0 - 1 MÍNIMO,ENTRE 6 MESES - 1 AÑO,INACTIVO
3,2000,2000-01-01,2006-01-01,18009899,201010211,JAMES CUADRADO JOELL ELIECER,TEC. EMPRESARIAL,1,124,129.0,31,9,0,1981-07-03,MASCULINO,SOLTERO (A),ADVENTISTA,ISLA SAN ANDRES,SAN ANDRES,COLOMBIA,ESTRATO 3,NO,[NINGUNO],[NINGUNO],[NINGUNO],GRADUADO
4,2001,2001-01-01,2015-01-01,19599564,211050106,DIAZ MORENO ADOLFO ENRIQUE,LIC. TEOLOGÍA,5,189,196.0,6,3,0,1979-10-05,MASCULINO,CASADO (A),ADVENTISTA,FUNDACION,MAGDALENA,COLOMBIA,ESTRATO 2,SÍ,TIEMPO COMPLETO,ENTRE 2 - 3 MÍNIMOS,MÁS DE 1 AÑO,GRADUADO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4744,2023,2023-01-01,NaT,94269950,20231012706,HURTADO PARRA JHON JAIRO,TEOLOGÍA,1,144,27.0,0,1,0,1982-11-28,MASCULINO,CASADO (A),ADVENTISTA,CALI,VALLE DEL CAUCA,COLOMBIA,ESTRATO 1,NO,[NINGUNO],[NINGUNO],[NINGUNO],ACTIVO
4745,2023,2023-01-01,NaT,1000288741,20231013507,MALDONADO ROA NICOLAS,LIC. MUSICA,1,169,19.0,0,0,0,2001-07-26,MASCULINO,SOLTERO (A),ADVENTISTA,BOGOTÁ,BOGOTA,COLOMBIA,ESTRATO 4,NO,[NINGUNO],[NINGUNO],[NINGUNO],ACTIVO
4746,2023,2023-01-01,NaT,1127543774,20231035506,MORENO JOLLY JONATHAN CARSON,TEOLOGÍA,1,144,32.0,0,0,0,2000-07-01,MASCULINO,SOLTERO (A),ADVENTISTA,BUGABA,CHIRIQUÍ,PANAMÁ,ESTRATO 3,NO,[NINGUNO],[NINGUNO],[NINGUNO],ACTIVO
4747,2023,2023-01-01,NaT,1097990080,20231037112,TELLEZ ARIZA KAREN JIMENA,ADMÓN. EMPRESAS,1,151,68.0,0,1,0,2003-03-06,FEMENINO,SOLTERO (A),ADVENTISTA,MEDELLIN,ANTIOQUIA,COLOMBIA,ESTRATO 1,NO,TIEMPO COMPLETO,ENTRE 0 - 1 MÍNIMO,ENTRE 0-6 MESES,ACTIVO
4748,2023,2023-01-01,NaT,1119185400,202310373325,SIERRA VILLAR JHAROL IDINAEL,TEC. APH EXTENSION BUCARAMANGA,1,111,81.0,0,1,0,1996-12-26,MASCULINO,SOLTERO (A),ADVENTISTA,MEDELLIN,ANTIOQUIA,COLOMBIA,ESTRATO 1,NO,[NINGUNO],[NINGUNO],[NINGUNO],ACTIVO

In [19]:
base[base.NOMBRE == 'QUINTERO LUNA ANDRES FELIPE']

,AGNO_INGRESO,FECHA_INGRESO,FECHA_EGRESO,DOCUMENTO,COD_ESTUDIANTIL,NOMBRE,PROGRAMA,NUM_MATRICULAS,CREDITOS_PENSUM,CREDITOS_APROBADOS,CREDITOS_REPROBADOS,MATERIAS_REPROBADAS,MATERIAS_CANCELADAS,FECHA_NACIMIENTO,GENERO,ESTADO_CIVIL,RELIGION,MUNICIPIO_PROCEDENCIA,DEPTO_PROCEDENCIA,PAIS_PROCEDENCIA,ESTRATO,TRABAJO,TIPO_TRABAJO,RANGO_INGRESOS,DURACION_TRABAJO,ESTADO
3061,2019,2019-01-01,NaT,1005328340,20191038390,QUINTERO LUNA ANDRES FELIPE,ING. SISTEMAS,9,170,16.0,0,0,0,2002-06-18,MASCULINO,SOLTERO (A),[NO INFORMA],CIMITARRA,SANTANDER,COLOMBIA,ESTRATO 2,SÍ,TIEMPO COMPLETO,ENTRE 0 - 1 MÍNIMO,ENTRE 0-6 MESES,ACTIVO

In [20]:
base.to_excel('ESTUDIANTES.xlsx', index = False)

In [24]:
base

,AGNO_INGRESO,FECHA_INGRESO,FECHA_EGRESO,DOCUMENTO,COD_ESTUDIANTIL,NOMBRE,PROGRAMA,NUM_MATRICULAS,CREDITOS_PENSUM,CREDITOS_APROBADOS,CREDITOS_REPROBADOS,MATERIAS_REPROBADAS,MATERIAS_CANCELADAS,FECHA_NACIMIENTO,GENERO,ESTADO_CIVIL,RELIGION,MUNICIPIO_PROCEDENCIA,DEPTO_PROCEDENCIA,PAIS_PROCEDENCIA,ESTRATO,TRABAJO,TIPO_TRABAJO,RANGO_INGRESOS,DURACION_TRABAJO,ESTADO
0,1997,1997-01-01,2013-01-01,71977148,971008101,CORDOBA DE LA ROSA JAVIER ANDRES,LIC. TEOLOGÍA,10,173,181.0,9,3,0,1969-05-15,MASCULINO,CASADO (A),ADVENTISTA,GRANADA,META,COLOMBIA,ESTRATO 2,NO,[NINGUNO],[NINGUNO],[NINGUNO],GRADUADO
1,1998,1998-02-01,2006-01-01,43621143,982056104,CATAÑO OCAMPO VIVIANA MARÍA,LIC. BÁS. NATURALES,1,164,185.0,9,4,0,1977-01-06,FEMENINO,CASADO (A),ADVENTISTA,CALI,VALLE DEL CAUCA,COLOMBIA,ESTRATO 1,NO,[NINGUNO],[NINGUNO],[NINGUNO],GRADUADO
2,1999,1999-01-01,NaT,28177911,991020214,CUBIDES GERENA BIVIANA,CONTADURÍA PÚBLICA,2,219,75.0,29,14,0,1975-01-08,FEMENINO,SEPARADO (A),ADVENTISTA,CIMITARRA,SANTANDER,COLOMBIA,ESTRATO 1,SÍ,TIEMPO COMPLETO,ENTRE 0 - 1 MÍNIMO,ENTRE 6 MESES - 1 AÑO,INACTIVO
3,2000,2000-01-01,2006-01-01,18009899,201010211,JAMES CUADRADO JOELL ELIECER,TEC. EMPRESARIAL,1,124,129.0,31,9,0,1981-07-03,MASCULINO,SOLTERO (A),ADVENTISTA,ISLA SAN ANDRES,SAN ANDRES,COLOMBIA,ESTRATO 3,NO,[NINGUNO],[NINGUNO],[NINGUNO],GRADUADO
4,2001,2001-01-01,2015-01-01,19599564,211050106,DIAZ MORENO ADOLFO ENRIQUE,LIC. TEOLOGÍA,5,189,196.0,6,3,0,1979-10-05,MASCULINO,CASADO (A),ADVENTISTA,FUNDACION,MAGDALENA,COLOMBIA,ESTRATO 2,SÍ,TIEMPO COMPLETO,ENTRE 2 - 3 MÍNIMOS,MÁS DE 1 AÑO,GRADUADO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4744,2023,2023-01-01,NaT,94269950,20231012706,HURTADO PARRA JHON JAIRO,TEOLOGÍA,1,144,27.0,0,1,0,1982-11-28,MASCULINO,CASADO (A),ADVENTISTA,CALI,VALLE DEL CAUCA,COLOMBIA,ESTRATO 1,NO,[NINGUNO],[NINGUNO],[NINGUNO],ACTIVO
4745,2023,2023-01-01,NaT,1000288741,20231013507,MALDONADO ROA NICOLAS,LIC. MUSICA,1,169,19.0,0,0,0,2001-07-26,MASCULINO,SOLTERO (A),ADVENTISTA,BOGOTÁ,BOGOTA,COLOMBIA,ESTRATO 4,NO,[NINGUNO],[NINGUNO],[NINGUNO],ACTIVO
4746,2023,2023-01-01,NaT,1127543774,20231035506,MORENO JOLLY JONATHAN CARSON,TEOLOGÍA,1,144,32.0,0,0,0,2000-07-01,MASCULINO,SOLTERO (A),ADVENTISTA,BUGABA,CHIRIQUÍ,PANAMÁ,ESTRATO 3,NO,[NINGUNO],[NINGUNO],[NINGUNO],ACTIVO
4747,2023,2023-01-01,NaT,1097990080,20231037112,TELLEZ ARIZA KAREN JIMENA,ADMÓN. EMPRESAS,1,151,68.0,0,1,0,2003-03-06,FEMENINO,SOLTERO (A),ADVENTISTA,MEDELLIN,ANTIOQUIA,COLOMBIA,ESTRATO 1,NO,TIEMPO COMPLETO,ENTRE 0 - 1 MÍNIMO,ENTRE 0-6 MESES,ACTIVO
4748,2023,2023-01-01,NaT,1119185400,202310373325,SIERRA VILLAR JHAROL IDINAEL,TEC. APH EXTENSION BUCARAMANGA,1,111,81.0,0,1,0,1996-12-26,MASCULINO,SOLTERO (A),ADVENTISTA,MEDELLIN,ANTIOQUIA,COLOMBIA,ESTRATO 1,NO,[NINGUNO],[NINGUNO],[NINGUNO],ACTIVO

In [23]:
base.dtypes

AGNO_INGRESO                      int64
FECHA_INGRESO            datetime64[ns]
FECHA_EGRESO             datetime64[ns]
DOCUMENTO                        object
COD_ESTUDIANTIL                   int64
NOMBRE                           object
PROGRAMA                         object
NUM_MATRICULAS                    int64
CREDITOS_PENSUM                   int64
CREDITOS_APROBADOS              float64
CREDITOS_REPROBADOS               int64
MATERIAS_REPROBADAS               int64
MATERIAS_CANCELADAS               int64
FECHA_NACIMIENTO         datetime64[ns]
GENERO                           object
ESTADO_CIVIL                     object
RELIGION                         object
MUNICIPIO_PROCEDENCIA            object
DEPTO_PROCEDENCIA                object
PAIS_PROCEDENCIA                 object
ESTRATO                          object
TRABAJO                          object
TIPO_TRABAJO                     object
RANGO_INGRESOS                   object
DURACION_TRABAJO                 object
ESTADO                           object
dtype: object